﻿@page "/"
@inject NavigationManager navManager
@inject AuthenticationStateProvider stateProvider

<MainLayoutText Title="Home" DisplayGoHomeButton="false">
    You're not logged in. Please use <span class="font-monospace text-primary">/login</span> command to authorize.
</MainLayoutText>

@code {
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var state = await authenticationState;
        if (state.User.Identity.IsAuthenticated)
        {
            navManager.NavigateTo("/app");
        }
    }
}