﻿@using ChipBot.Core.Web.Attributes
@using ChipBot.Core.Web.Models
@using PointsPlugin.Shared.Api
@using Humanizer
@using System.Net.Http.Json
@attribute [UserSettingsItem(Name = "General", ComponentType = typeof(GeneralUserSettingsItem), Order = 100)]

<div class="d-flex flex-column">
    <div class="input-group">
        <span class="input-group-text">Theme</span>
        <ThemeChangeComponent />
    </div>
</div>